<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Travel Chat App</title>
  {% comment %} needs nav bar (delete) {% endcomment %}
</head>
<body>
  <a class="" href="{% url "logout" %}">Logout</a>

  <h1>Server: {{server.name}}</h1>
  
  {% for i in channels %}
    <br>
    <a href="{{server.name}}/{{i.name}}"><button>{{i.name}}</button></a>
  {% endfor %}
  
  

</body>
</html>