{% extends "base.html" %} {% load static %} {% block title %}{{server.name}} -
{{channel}}{% endblock title %} {% block content %}
<div class="modal__main">
  <div class="chatbox">
    <div class="chatbox__row">
      <div class="head">
        <div class="head__avatar avatar avatar_larger">
          <a href="#" class="avatar__wrap"> M </a>
        </div>
        <div class="head__title">{{ channel }}</div>
        <div class="head__note">
          {% comment %} <span>8 участников</span> {% endcomment %}
          <span class="head__icon"></span>
        </div>
      </div>
    </div>
    <div class="chatbox__row chatbox__row_fullheight">
      <div class="chatbox__content">
        {% for i in messages %}
        <div class="message">
          <div class="message__head">
            <span class="message__note">{{i.user_profile.user.username}}</span>
            <span class="message__date">{{i.date_time}}</span>
          </div>
          <div class="message__base">
            <div class="message__textbox">
              <span class="message__text"> {{i.text}} </span>
            </div>
          </div>
        </div>
        {% endfor %} {% comment %}
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
                <img
                  class="message__smiley"
                  src="http://www.pic4ever.com/images/14k8gag.gif"
                  border="0"
                />
              </div>
            </div>
          </div>

          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
              </div>
            </div>
          </div>
          <div class="message">
            <div class="message__head">
              <span class="message__note">Princess Murphy</span>
              <span class="message__note">Вчера, 17:00</span>
            </div>
            <div class="message__base">
              <div class="message__avatar avatar">
                <a href="#" class="avatar__wrap">
                  <img
                    class="avatar__img"
                    src="http://placehold.it/35x35"
                    width="35"
                    height="35"
                    alt="avatar image"
                  />
                </a>
              </div>
              <div class="message__textbox">
                <span class="message__text"
                  >Hello, Bogdan! Yes, funny smiles</span
                >
                <img
                  class="message__smiley"
                  src="http://www.pic4ever.com/images/245.gif"
                  border="0"
                />
              </div>
            </div>
          </div>
          {% endcomment %}
        </div>
      </div>
      <div class="chatbox__row">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %} 
          <div class="enter">
            <div class="enter__submit">
              <button type="submit" class="button button_id_submit">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
            <div class="enter__textarea">
              {{form.message}}
            </div>
            <div class="enter__icons">
              <a href="#" class="enter__icon">
                {{ form.img }}
                {% comment %} <i class="fa fa-paperclip" aria-hidden="true"></i> {% endcomment %}
              </a>
            </div>
          </div>
        </form>
        {% comment %} <div class="enter">
          <div class="enter__submit">
            <button class="button button_id_submit">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
          <div class="enter__textarea">
            <textarea
              name="enterMessage"
              id="enterMessage"
              cols="30"
              rows="2"
              placeholder="Say message..."
            ></textarea>
          </div>
          <div class="enter__icons">
            <a href="#" class="enter__icon">
              <i class="fa fa-paperclip" aria-hidden="true"></i>
            </a>
            <a href="#" class="enter__icon">
              <i class="fa fa-smile-o" aria-hidden="true"></i>
            </a>
          </div> 
        </div>{% endcomment %}
      </div>
    </div>
  </div>

  {% comment %}
  <div class="modal__main">
    <div class="chatbox">
      <div class="chatbox__row">
        <div class="head">
          <div class="head__title">{{server.name}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbox__row chatbox__row_fullheight">
    <div class="chatbox__content">
      <div class="message">
        <div class="message__head">
          {% for i in messages %}
          <span class="message__note">{{i.user_profile.user}}</span>
          <span class="message__date">{{i.date_time}}</span>
          {% endfor %}
        </div>
        <div class="message__base">
          <div class="message__textbox">
            {% for i in messages %}
            <span class="message__text"> {{i.text}} </span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="chatbox__row">
    <div class="enter">
      <div class="enter__submit">
        <button class="button button_id_submit">send</button>
      </div>
      <div class="enter__textarea">
        <form method="POST" action="">
          {% csrf_token %}
          <input type="text" name="message" placeholder="Enter message" />
        </form>
      </div>
    </div>
  </div>
  {% endcomment %} {% comment %}
  <h3>Role: {{role}}</h3>
  {% endcomment %} {% comment %}
  <form method="POST" action="">
    {% csrf_token %} {{form.as_p}}
    <button>send</button>
  </form>
  {% endcomment %} {% endblock content %}
</div>
