{% extends "base.html" %} {% load static %}

{% block title %}{{request.user}}'s Homepage{% endblock title %}

{% block content %}
<div>
  <h1 class="">Welcome, {{request.user}}!</h1>
  <a class="" href="{% url "join-server" %}"><button class="">Join Sever</button></a>
  <div class="divs_of_days">
    <h2 class="">Servers</h2>
    <ul class="">
      {% for i in servers %}
      <li class="">
        <a href="{% url 'home_server' i.name %}">{{i.name}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>







{% endblock content %}